spring:
  application:
    name: ossu-tech

  datasource:
    url: jdbc:postgresql://localhost:5432/ossutech_db
    username: ossutech
    password: ossutech123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate  # Flyway vai gerenciar o schema
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

logging:
  level:
    com.ossutech: DEBUG
    org.hibernate.SQL: DEBUG